name: Build EXE

on:
  push:
    branches: [ "main" ]
  release:
    types: [created]

permissions:
  contents: write

jobs:
  build:
    runs-on: windows-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.13'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pandas openpyxl pyinstaller

    - name: Build EXE
      run: |
        # Genera el EXE usando el archivo reportes.py
        python -m PyInstaller --noconsole --onefile --name="ReportesSecurithor" reportes.py

    - name: Upload Artifact (Backup)
      uses: actions/upload-artifact@v4
      with:
        name: ReportesSecurithor-EXE
        path: dist/*.exe

    - name: Upload to Release
      if: github.event_name == 'release'
      uses: softprops/action-gh-release@v2
      with:
        files: dist/*.exe
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}