name: Build EXE

on:
  push:
    tags:
      - 'v*'

permissions: # CORRECCIÓN: Permisos explícitos de escritura
  contents: write

jobs:
  build:
    runs-on: windows-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.13'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pandas openpyxl pyinstaller

    - name: Build EXE with PyInstaller
      run: |
        # CORRECCIÓN: Usamos reportes.py
        python -m PyInstaller --noconsole --onefile --name="ReportesSecurithor" reportes.py

    - name: Create Release and Upload EXE
      uses: softprops/action-gh-release@v2
      with:
        files: dist/ReportesSecurithor.exe
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
