name: Build EXE

on:
  push:
    tags:
      - 'v*' # Se activa al crear un Release con tag v1.0.x

permissions:
  contents: write # Esto fuerza el permiso de escritura para subir el .exe

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.13'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pandas openpyxl pyinstaller

    - name: Build EXE with PyInstaller
      run: |
        # Usamos reportes.py que es el nombre de tu archivo actual
        python -m PyInstaller --noconsole --onefile --name="ReportesSecurithor" reportes.py

    - name: Create Release and Upload EXE
      uses: softprops/action-gh-release@v2
      with:
        files: dist/ReportesSecurithor.exe
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
